<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Add Expenditure</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closePopup()"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addExpensesForm" (ngSubmit)="addExpense()">
            <div class="mb-3">
                <label for="parentCategory" class="form-label">Payout</label>
                <select class="form-control" name="parentCategory" formControlName="payout">
                    <option *ngFor="let category of categories" [value]="category.id">
                        {{ category.title }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="parentCategory" class="form-label">Payment Type</label>
                <select class="form-control" name="parentCategory" formControlName="paymentType">
                    <option *ngFor="let category of categories" [value]="category.id">
                        {{ category.title }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="categoryTitle" class="form-label">Amount</label>
                <input type="text" class="form-control" name="categoryTitle" formControlName="amount"
                    placeholder="Amount" />
            </div>
            <div class="mb-3">
                <label for="categoryTitle" class="form-label">Notes</label>
                <input type="text" class="form-control" name="categoryTitle" formControlName="notes"
                    placeholder="Notes" />
            </div>
            <button type="submit" class="btn btn-primary float-end">Add Expenditure</button>
        </form>
    </div>
</div>